
.home{
  text-align: center;
  font-size: xx-large;
  
}

.squbox{  
    width: 5vw;
    height: 10vh;
    border-style: solid;
    border-width: thin;
    border-color:gray;
    text-align: center
}


